@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-bar-height: 70px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  @apply bg-slate-900 text-xl md:text-base focus:outline-none focus-visible:outline-none;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

ul {
  @apply m-0 p-0;
}

li {
  @apply list-none;
}

@layer base {
  body {
    @apply bg-slate-950 text-white;
  }
  h1 {
    @apply text-5xl md:text-6xl;
  }
  h2 {
    @apply text-4xl md:text-5xl;
  }
  h3 {
    @apply text-3xl md:text-4xl;
  }
  h4 {
    @apply text-2xl md:text-3xl;
  }
  h5 {
    @apply text-xl md:text-2xl;
  }
  h6 {
    @apply text-lg md:text-xl;
  }
}
