@import "./XCheckbox.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --top-bar-height: 40px;
}
// scrollbar-track-global-bg
@layer base {
  body {
    @apply bg-gray-900 animate-opacity-md text-gray-200 md:ml-10 overflow-y-scroll scrollbar-thumb-teal-600 scrollbar-track-slate-900  scrollbar-thin;
    font-family: "Ubuntu";
  }
  h1 {
    @apply text-5xl md:text-6xl;
  }
  h2 {
    @apply text-4xl font-bold md:text-5xl;
  }
  h3 {
    @apply text-3xl md:text-4xl;
  }
  h4 {
    @apply text-2xl md:text-3xl;
  }
  h5 {
    @apply text-xl md:text-2xl pb-4;
  }

  h6 {
    @apply text-lg font-bold md:text-xl;
  }

  p {
    @apply my-8 leading-7 text-xl;
  }

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input {
    @apply bg-slate-950 text-xl md:text-lg focus:outline-none focus-visible:outline-none;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }

  ul {
    @apply m-0 p-0;
  }

  li {
    @apply list-none text-base;
  }
}

@layer utilities {
  .bg-gradient {
    @apply bg-gradient-to-r from-teal-600 via-teal-500 to-blue-500;
  }
  .text-gradient {
    @apply bg-gradient-to-r from-teal-600 via-teal-500 to-blue-500 text-transparent bg-clip-text;
  }

  .styled-scroll {
    @apply overflow-y-scroll scrollbar-thumb-teal-600 scrollbar-track-slate-900  scrollbar-thin;
  }
}
